{% extends 'base.html' %}
{% block content %}
<h1>Resumen del Portafolio</h1>
<div class="row mt-4">
  <div class="col-md-6">
    <table class="table table-striped">
      <tbody>
        <tr>
          <th>Total Invertido (USD)</th>
          <td>${{ '{:,.2f}'.format(summary.total_invested) }}</td>
        </tr>
        <tr>
          <th>Valor Actual (USD)</th>
          <td>${{ '{:,.2f}'.format(summary.total_value) }}</td>
        </tr>
        <tr>
          <th>Rentabilidad (%)</th>
          <td>{{ '{:,.2f}'.format(summary.total_rentability_pct) }}%</td>
        </tr>
        <tr>
          <th>Rentabilidad (CLP)</th>
          <td>${{ '{:,.0f}'.format(summary.total_rentability_clp) }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-6">
    <p>Este resumen muestra una visión general de su portafolio de inversiones. Los datos provienen del archivo de inversiones que puede subir en la sección "Subir Archivo". Para ver la lista completa de transacciones, vaya a la página de "Transacciones".</p>
  </div>
</div>
{% endblock %}